{% extends 'core/base.html' %}
{% load static %}


{% block content %}
	<div class="container mt-5">
        <!-- Отображение данных о месте -->
        <h1>{{ location.title }}</h1>
        <h5>{{ location.category }}</h5>

    <span class="float-right mr-3" style="color: red;">{{ request.user }}</span>



        <div class="container mt-5">
            {% for picture in location.pictures.all %}
                <img src="{{ picture.picture.url }}" class="img-thumbnail" alt="...">
            {% endfor %}
        </div>
        <div class="container mt-5">
            <span>{{ location.long_description|truncatechars:"128" }}</span>
            {% if request.user == location.author %}
            <span class="float-right mr-3"><a href="{% url 'index:update_location' location.id %}">Редактировать пост</a> </span>
            <span class="float-right mr-3"><a href="{% url 'index:delete_location' location.id %}">Удалить</a></span>

            {% endif %}
        </div>

        <div class="container mt-5">
            <p>Комментарии ({{ location.comments_places.count }})</p>
            <hr>

            {% for comment in location.comments_places.all %}
                <p>{{ comment.text }}</p>
                <small>{{ comment.author.username }} - {{ comment.published_at }}</small>
                <hr>
            {% endfor %}

            <div class="col-12">
                <form action="" id="add_form" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                </form>
                <button form="add_form" type="submit" class="btn btn-primary">Добавить</button>
            </div>
        </div>
        <div class="container mt-5">
            <span><h3>Ещё места {{ user.username }}</h3></span>
        </div>
        {% for loc in list_locations %}
            <ul class="list-group mt-4">
                <li class="list-group-item">
                    <b>{{ loc.title }}</b>
                    <span>{{ loc.short_description }}</span>
                    <span class="float-right mr-3"><a href="{% url 'index:location_details' loc.id %}">Перейти</a> </span>


                </li>
            </ul>
        {% endfor %}

    </div>
{% endblock %}

