{% load likes_place %}

{% is_liked place_post_id as is_liked_bool %}
{% count_likes place_post_id as likes_counter %}

{% if is_liked_bool %}
    {% place_likes_id place_post_id as place_likes_id %}
{% endif %}

<form action="{% if not is_liked_bool %}{% url 'likes:add' %}{% else %}{% url 'likes:remove' %}{% endif %}" method="post">
{% csrf_token %}
    <input type="hidden" name="place_post_id" value="{{ place_post_id }}">
    <input type="hidden" name="user_id" value="{% if user.is_authenticated %}{{ request.user_id }}{% else %}None{% endif %}">
    <input type="hidden" name="url_from" value="{{ request.path }}">

    {% if is_liked_bool %}
        <input type="hidden" name="place_likes_id" value="{{ place_likes_id }}">
    {% endif %}

    <button type="submit" class="btn btn-danger">
        {% if not is_liked_bool %}
            <i class="fi-xnluxl-heart"></i>
        {% else %}
            <i class="fi-xnluxl-heart-solid"></i>
        {% endif %}
        <span class="likes-qty">{{ likes_counter }}</span>
    </button>
</form>